@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,900&family=Roboto:wght@300&family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,900&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
    font-family: Myraid;
    src: url(MYRIADPRO-REGULAR.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.headertop {
    background-color: rgb(251, 242, 82);
    padding: 10px 0;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-search form {
    position: relative;
}

.header-search .fa-search {
    padding: 0.4427083333333333vw;
    border-radius: 3px;
    background: rgb(9, 115, 186);
    font-size: 0.78125vw;
    cursor: pointer;
}

.header-search button {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

.header-search input[type=text] {
    padding: 0.6770vw 12.96875vw 0.6770vw 0.5208vw;
    font-size: 0.7291vw;
    border: none;
    border-radius: 0.3125em;
    background-color: rgb(255, 255, 255);
}

.header-search input:hover {
    box-shadow: 2px 2px 10px 0px rgb(0, 0, 0);
}

.header-call {
    display: flex;
    align-items: center;
    border-right-style: solid;
    border-color: #fff;
    border-width: 2px;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.header-call img {
    padding: 0px 10px;
}

.header-call p {
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    padding-right: 15px;
}

.header-call p span a {
    color: rgb(9, 115, 186);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.header-account {
    display: flex;
    align-items: center;
    border-right-style: solid;
    border-color: #fff;
    border-width: 2px;
    padding-right: 15px;
}

/* .header-account img {
    padding-right: 5px;
} */

.header-account p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-account p form {
    text-decoration: none;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.header-cart {
    display: inline-block;
    align-items: center;
    position: relative;
}

#carticon {
    /* padding-right: 5px; */
    /* padding-top: 10px; */
    position: relative;
    top: 5px;
}

#auslogo {
    position: relative;
    bottom: 20px;
    left: 6px;
}

.dropbtn {
    font-size: 16px;
    border: none;
    padding: 15px 10px 10px 10px;
    background-color: rgb(251, 242, 82);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content ul li {
    list-style: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0973ba;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*  */
.dropbtnShopAll {
    border: none;
    background-color: rgb(255 255 255 / 22%);
    color: #fff;
    font-size: 16px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.navbar-copy ul li .dropdownShopAll {
    position: relative;
    display: inline-block;
}

.dropdown-contentShopAll {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 140px;
    /* background-color: rgb(14 102 161 / 87%); */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-contentShopAll a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-contentShopAll a:hover {
    background-color: #0973ba;
    color: #fff;
}

.dropdownShopAll:hover .dropdown-contentShopAll {
    display: block;
}

.cart-no {
    position: absolute;
    top: 0px;
    right: 108px;
    width: 16px;
}

.cart_number {
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 22px;
    right: 75px;
    font-size: 13px;
    background: rgb(237, 35, 40);
    border-radius: 10px;
}

#currencyselector {
    border: none;
    background: none;
    position: relative;
    bottom: 20px;
    left: 4px;
}

.currency {
    position: absolute;
    left: 34px;
    top: 18px;
}

/* USP - SECTION 2 */
.headermiddle {
    padding: 10.5px 0;
}

.usp {
    display: flex;
    justify-content: space-between;
}

/*  */
.column-usp {
    display: flex;
    align-items: center;
}

.uspText {
    font-size: 20px;
    padding-left: 10px;
}

.uspText span {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR-COPY - SECTION 3 */

.headerbottom {
    background-color: #0E66A1;
}

/* .navbar-copy {
    height: auto;
    background-color: #0E66A1;
} */

.navbar-copy ul {
    padding: 5px 0;
}

.navbar-copy ul li {
    list-style-type: none;
    display: contents;
}

.navbar-copy ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
}

/* BANNER - SECTION 4 */
.banner {
    padding-top: 1px 0 0 0;
    position: relative;
}

/*  */
.bannertext {
    position: absolute;
    top: 95px;
}

/* .banner-heading {
    font-size: 72px;
    font-weight: 800;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 25px;
} */


.banner-subheading {
    font-size: 1.25vw;
    font-weight: 200;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.3em;
    padding-bottom: 45px;
}

.banner-subheading2 {
    font-size: 1.25vw;
    font-weight: 200;
    color: rgb(0, 0, 0);
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.3em;
    padding-bottom: 2.34375vw;
}

.banner-button button {
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.1458333333333333vw;
    padding: 0.52vw 0.9375vw;
    display: flex;
    background-color: rgb(237, 35, 40);
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 2px 3px 12px #000;
}

.icon-arrow-right-circle {
    font-size: 1.1458333333333333vw;
}

/* MULTIPLE_BANNER - SECTION 5 */
.multiple_banners {
    display: flex;
    justify-content: center;
}

.categories {
    display: inline-flex;
}

.category-left {
    display: flex;
}

.category-right {
    display: flex;
}

/*  */
.allcatogories {
    padding: 20px 20px 15px 0;
    position: relative;
}

.category-first-left .allcatogories:nth-child(2) {
    padding: 0 20px 20px 0;
    position: relative;
}

.category-first-right .allcatogories:nth-child(2) {
    padding: 0 20px 20px 0;
    position: relative;
}

.bannerTextAtStart {
    top: 40px;
    left: 15px;
    position: absolute;
}

.bannerTextAtEnd {
    top: 40px;
    right: 35px;
    position: absolute;
    text-align: right;
}

.bannerHeading {
    font-size: 1.1458333333333333vw;
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;
}

.bannerSubheading {
    font-size: 0.7291666666666666vw;
    padding: 5px 0 15px 0;
    font-family: 'Ubuntu', sans-serif;
}

.categories a {
    color: #187CBF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    text-decoration: none;
    font-size: 0.8333333333333334vw;
}

.categories .icon-arrow-right-circle {
    font-size: 11px;
    color: rgb(237, 35, 40);
    font-weight: 900;
}

/* SECTION - 6 */
.product_section {
    text-align: center;
    padding: 30px 0;
    align-items: center;
}

.product_section ul li {
    list-style-type: none;
    display: contents;
    font-size: 1.25vw;
    padding: 1px;
    position: absolute;
    color: rgb(201, 201, 201);
    background-color: #fff;
}

.product_section ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
    padding: 0 10px;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
}

.product_section ul li:first-child::before {
    content: " ";
    border: 1px solid #ed2328;
    width: 100px;
    display: inline-block;
    position: relative;
    bottom: 5px;
}

.product_section ul li:last-child:after {
    content: " ";
    border: 1px solid #ed2328;
    width: 100px;
    display: inline-block;
    position: relative;
    bottom: 5px;
}

.product_section ul li a:hover {
    color: #187CBF;
}

.product_section p {
    font-size: 28px;
    text-align: center;
    padding: 15px 0;
    font-family: 'RageItalic';
    color: rgb(201, 201, 201);
}

.product_section .line {
    border-top: 2px solid #ed2328;
    margin: 0 580px;
    position: relative;
    color: rgb(237, 35, 40);
    top: 15px;
    z-index: -1;
}

/* CARD */
.productcard {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.carditems {
    position: relative;
}

.card {
    max-width: 300px;
    text-align: center;
    font-family: arial;
}

.card .card-heading h5 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.card .card-heading {
    padding-bottom: 20px;
    /* font-weight: 600; */
    /* font-size: 15px; */
}

.price {
    color: #187CBF;
    font-size: 22px;
    font-weight: 600;
}

.cardDescription {
    padding: 20px 10px;
}

.price span {
    color: rgb(201, 201, 201);
    font-size: 18px;
    font-weight: 200;
    padding-left: 5px;
    position: relative;
}

.price-line1 {
    border-top: 2px solid #ed2328;
    padding: 0 25px;
    left: 25%;
    bottom: 10px;
    position: absolute;
    transform: rotate(320deg);
}

.price-line2 {
    border-top: 2px solid #ed2328;
    padding: 0 25px;
    right: 10%;
    bottom: 10px;
    position: absolute;
    transform: rotate(320deg);
}

.cardimage1 {
    position: relative;
}

.cardimage2 {
    position: relative;
}

.cardimage3 {
    position: relative;
}

.cardimage4 {
    position: relative;
}

.cardimage5 {
    position: relative;
}

.cardimage6 {
    position: relative;
}

.cardhover {
    gap: 10px;
    top: 50%;
    display: flex;
    position: absolute;
    align-items: center;
    transform: translate(25%, -50%);
}

.cardbutton {
    padding: 11px 25px;
    background-color: #0973ba;
    border-radius: 5px;
    color: #fff;
    border: 1px solid;
    font-size: 15px;
    font-family: arial;
    cursor: pointer;
    position: relative;
    opacity: 0;
}

.cardhover img {
    opacity: 0;
    position: relative;
    cursor: pointer;
}

.cardimage1:hover .cardbutton,
.cardimage2:hover .cardbutton,
.cardimage3:hover .cardbutton,
.cardimage4:hover .cardbutton,
.cardimage5:hover .cardbutton,
.cardimage6:hover .cardbutton {
    transition: all 0.5s ease-in-out;
    border: 1px solid #0973ba;
    opacity: 1;
}

.cardimage1:hover .cardhover img,
.cardimage2:hover .cardhover img,
.cardimage3:hover .cardhover img,
.cardimage4:hover .cardhover img,
.cardimage5:hover .cardhover img,
.cardimage6:hover .cardhover img {
    transition: all 0.5s ease-in-out;
    opacity: 1;
}



/* INSTORE-SERVICES */
.instore-services {
    background-color: rgb(249, 249, 249);
    padding: 50px 0 60px 0;
}


.instore-text::before {
    content: " ";
    border: 1px solid #ed2328;
    width: 100px;
    display: inline-block;
    position: relative;
    bottom: 5px;
}

.instore-text {
    text-align: center;
    font-weight: 600;
    padding: 0 10px 25px 10px;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
}

.instore-text::after {
    content: " ";
    border: 1px solid #ed2328;
    width: 100px;
    display: inline-block;
    position: relative;
    bottom: 5px;
}


.servicesbanner::before {
    content: " ";
    position: absolute;
    border: 2px solid #fff;
    top: 1%;
    left: 1%;
    right: 1%;
    padding: 28%;
    border-bottom: 0;
}

.instoreText::before {
    content: " ";
    position: absolute;
    border: 2px solid #e9e9e9;
    left: 1%;
    right: 1%;
    bottom: 1%;
    top: 83%;
    border-top: 0;
}

.services_banners {
    position: relative;
}

.servicesTop {
    display: flex;
    gap: 15px;
}

.servicesBottom {
    display: flex;
    gap: 15px;
    padding-top: 15px;
}

.servicesbanner {
    position: relative;
    text-align: center;
    padding-bottom: 15px;
}

.servicesbanner h4 {
    padding: 0;
}

.servicesbanner h4 a {
    font-size: 19px;
    font-weight: 800;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.servicesHeading a {
    color: #000000;
    text-decoration: none;
}

.servicebuttonsize {
    font-size: 16px;
    color: #0973ba;
}

/* OUR TOP PRODUCTS */
.our-top-products {
    padding: 50px 0 90px;
    position: relative;
}

.line1top {
    border-top: 2px solid #ed2328;
    margin-right: 832px;
    margin-left: 550px;
    position: relative;
    color: rgb(237, 35, 40);
    top: 15px;
}

.line2bottom {
    border-top: 2px solid #ed2328;
    margin-right: 550px;
    margin-left: 832px;
    position: relative;
    color: rgb(237, 35, 40);
    bottom: 13px;
}


/* OUR BRANDS */
.brands {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    gap: 18px;
}

.optifast-brand img,
.amcal-brand img,
.avent-brand img,
.omron-brand img,
.musashi-brand img,
.depend-brand img {
    border: 1px solid rgb(235, 235, 235);

}

.optifast-brand img:hover,
.amcal-brand img:hover,
.avent-brand img:hover,
.omron-brand img:hover,
.musashi-brand img:hover,
.depend-brand img:hover {
    border-color: #0973ba;
}


/* WELCOME SECTION */
.welcomesection {
    padding-top: 70px;
    display: flex;
    gap: 35px;
    align-items: center;
}

.welcomeimage {
    display: contents;
}

.welcomeimage img {
    max-width: 50%;
}

.welcometext {
    padding: 0;
}

.welcometext h3 {
    /* padding-top: 60px; */
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
}

.welcometext h3 span {
    font-weight: 100;
    color: rgb(75, 152, 204);
}

.welcometext p:nth-child(2) {
    padding-top: 25px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 25px;
}

.welcometext p:nth-child(3),
.welcometext p:nth-child(4),
.welcometext p:nth-child(5) {
    font-size: 16px;
    padding: 7px 0;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}

.welcometext p:nth-child(5) {
    padding-bottom: 25px;
}

.welcometext a {
    padding: 10px 17px;
    color: rgb(14, 102, 161);
    border: 1px solid rgb(14, 102, 161);
    border-radius: 2px;
    font-weight: 700;
    background-color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.welcometext a:hover {
    background-color: rgb(14, 102, 161);
    color: #fff;
    transition: all 0.5s;
}

/* CONTACT US */
.contact_detail_section {
    background-color: #0973ba;
    width: 100%;
    display: inline-block;
    padding: 33.5px 0;
}

.footerCallImage {
    padding-right: 10px;
}

.contactDetail {
    display: inline-block;
    align-items: center;
}

.footerContactDetails p {
    color: #fff;
    font-size: 13px;
}

.footerContactDetails span a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
}

.newsletterSection .footer-contact_detail_section {
    display: block;
    align-items: center;
}

.footer-section .footer-contact_detail_section {
    display: flex;
    align-items: center;
}

.footer-contact_detail_section img {
    padding-right: 10px;
}

.footer-contact_detail_section p span a {
    font-size: 23px;
    font-family: 'Ubuntu', sans-serif;
    /* padding-right: 1.875em; */
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.footer-contact_detail_section p {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.footerButton {
    display: flex;
    align-items: center;
}

.footerButton a {
    text-decoration: none;
    padding: 6px 12px;
    background: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
    color: #0E66A1;
    font-family: Ubuntu, sans-serif;
    border: 1px solid #0E66A1;
}

.footerButton a:hover {
    opacity: 0.7;
}

.locationsection {
    margin-left: -150px;
}

.mapsimage {
    padding-top: 1px;
    max-width: 100%;
}


/* NEWSLETTER */
.newsletter {
    padding: 30px 0 0 0;
}

.newsletterSection {
    background-color: #0973ba;
    width: 100%;
    display: flex;
    padding: 21.5px 0;
    align-items: center;
    justify-content: space-around;
}

.newsletterSection input[type=text],
.newsletterSection input[type=email],
input[type=submit] {
    padding: 12px 100px 12px 12px;
    margin: 8px 0;
    font-style: italic;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

.newsletterSection .newsletterButton {
    background-color: #ed2328;
    color: #fff;
    font-size: 18px;
    padding: 11px 64px;
    border: none;
    border-radius: 4px;
    font-family: sans-serif;
    font-style: normal;
}

.newsletterSection input[type=submit]:hover {
    opacity: 0.8;
}

.newsletterSection .footer-contact_detail_section p:nth-child(1) {
    font-weight: 800;
    font-size: 22px;
}

.newsletterSection .footer-contact_detail_section p:nth-child(2) {
    color: #97c9ea;
    font-size: 16px;
    font-weight: 100;
}

/* FOOTER MIDDLE */
.footermiddle {
    display: flex;
    justify-content: space-around;
    border: 1px solid #87878736;
}

.quicklinkssection {
    line-height: 30px;
    color: rgb(112, 112, 112);
    padding: 15px;
    position: relative;
    /* padding: 15px 59px;
    border: 1px solid #87878736;
    border-right: 0; */
}

.quicklinkssection:after {
    content: " ";
    position: absolute;
    border: 1px solid #8787871f;
    top: 0%;
    bottom: 0%;
    left: 111%;
}

.quicklinkssection:last-child::after {
    content: " ";
    position: absolute;
    border: none
}

.quicklinks h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #0973ba;
    padding-bottom: 10px;
}

.quicklinksTop {
    font-family: 'Ubuntu', sans-serif;
    color: #0973ba;
    padding-bottom: 10px;
}

.quicklinksTop ul li a {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.footerbottom {
    padding: 20px 0;
    text-align: center;
    color: rgb(131, 137, 142);
    font-family: 'Roboto', sans-serif;
}

.quicklinkssection ul {
    padding-left: 15px;
}

.quicklinkssection ul li a {
    text-decoration: none;
    color: rgb(131, 137, 142);
}

.quicklinkssection ul li a:hover {
    text-decoration: none;
    color: #0E66A1;
}

.quicklinkssection .quicklinksBottom a {
    text-decoration: none;
    color: #ed2328;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.quicklinkssection .quicklinksBottom a:hover {
    color: #0E66A1;
}

.socialmedia ul li {
    display: inline-block;
    padding: 2px 4px;
}

.socialmedia ul {
    padding: 0;
}

.socialmedia ul li img:hover {
    background: #cfebff;
    border-radius: 20px;
}

.paymentmethods ul li {
    display: inline;
    padding-right: 5px;
}

.paymentmethods ul {
    padding: 0;
}

.paymentmethods p {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    padding: 30px 0 10px 0;
}

.paymentmethods p span {
    font-weight: 600;
}

.footertrustlogos ul li {
    display: inline;
    padding-right: 30px;
}

.footertrustlogos ul {
    align-items: center;
    display: flex;
    padding: 12px 0;
}


.footerbottom p span a {
    color: #0E66A1;
    text-decoration: none;
}


/* SLIDER */
.sliderbanner1,
.sliderbanner2,
.sliderbanner3 {
    position: relative;
}

/* SLEEK COLUMN LEFT - SECTION 2 */
.sleek-columnleft {
    float: left;
    width: 40%;
    padding-left: 20%;
}

.top-heading {
    padding-top: 96px;
    font-size: 30px;
    font-weight: bold;
}

.sub-heading {
    font-size: 70px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
}

.paragraph {
    font-size: 14.5px;
    line-height: 1.8em;
}


.button1 {
    padding: 20px 50px;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 10px;
    background-color: white;
    border: solid;
    border-color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}

.button1:hover {
    border-color: rgb(254, 210, 0);
    background-color: rgb(254, 210, 0);
    box-shadow: 5px 5px 10px 1px rgb(161, 157, 157);
    transition: all 0.5s;
    color: #fff;
}

.button2 {
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #fed200;
    color: white;
    border: solid;
    border-color: #fed200;
    cursor: pointer;
    transition: all 0.5s;
}

.button2:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
    box-shadow: 5px 5px 10px 1px rgb(254, 210, 0);
    transition: all 0.5s;
}

/* SLEEK COLUMN RIGHT - SECTION 2 */
.sleek-columnright {
    float: left;
    width: 40%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.top-heading-slider {
    font-size: 3.75vw;
    font-weight: 800;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 25px;
}

.top-heading-slider2 {
    font-size: 3.75vw;
    font-weight: 800;
    color: #0E66A1;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 25px;
}

.top-heading-slider3 {
    font-size: 3.75vw;
    font-weight: 800;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 25px;
}

.Slidertext {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

@media screen and (max-width: 1440px) {
    .container {
        padding: 0px 40px;
    }

    .header-search .fa-search {
        padding: 0.3927vw;
    }
}

@media screen and (max-width: 1366px) {
    .uspText {
        font-size: 16px;
    }

    .column-usp img,
    .header-call img {
        max-width: 50%;
    }
}

@media screen and (max-width: 1280px) {
    .logo {
        max-width: 30%;
    }
}


@media screen and (max-width: 1080px) {
    .logo {
        max-width: 25%;
    }
}

@media screen and (max-width: 1024px) {
    .header-call p span a {
        font-size: 2.041667vw;
    }

    .header-call p {
        font-size: 12px;
    }

    .header-search input[type=text] {
        padding: 0.677vw 8.96875vw 0.677vw 0.5208vw;
    }

    .header-call img {
        max-width: 24%;
    }
}